@font-face {
  font-family: 'OpenDyslexic3';
  font-weight: normal;
  src: url('../../assets/font/OpenDyslexic3-Regular.ttf');
}

@font-face {
  font-family: 'OpenDyslexic3';
  font-weight: bold;
  src: url('../../assets/font/OpenDyslexic3-Bold.ttf');
}
