.demo-container {
  overflow: auto;
  background-color: var(--experiment-bg);
  .demo-page {
    background-color: var(--experiment-bg);
  }
  .shake-container {
    transform-origin: top left;
  }
  .assignment {
    font-style: italic;
    margin: 10px 0;
    color: #cd0c99;
    &::before {
      content: 'Assignment:';
      display: block;
    }
  }
  .editor {
    height: 500px;
    ::ng-deep .p-editor-container {
      height: 440px;
    }
  }
  .multiselect {
    ::ng-deep .p-multiselect {
      min-width: 300px;
    }
  }
}

.experiment-config {
  .experiment-item {
    padding: 20px 0;
    max-width: 300px;
  }
}

::ng-deep .p-stepper-panels {
  background-color: var(--experiment-bg);
}
