.hearing-loss {
  .slider-container {
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: -25px;
  }
  .slider {
    padding: 20px;
    width: 40px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: stretch;
  }
  .audiogram-selector {
    min-width: 200px;

    .group-label {
      font-style: italic;
    }
  }
  .audio-player {
    .current-time,
    .duration {
      padding: 10px;
      min-width: 50px;
    }
    .time-slider-container {
      width: 200px;
      padding: 10px;
      .time-slider {
        width: 100px;
      }
    }
    .mute-button {
      padding: 0 20px;
    }
    .volume {
      .volume-slider-container {
        padding: 10px;
        .volume-slider {
          width: 100px;
          padding: 10px;
        }
      }
      .volume-up,
      .volume-down {
        padding: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .volume-up i {
        font-size: 16px;
      }
      .volume-down i {
        font-size: 14px;
      }
    }
  }
  .audio-selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    ::ng-deep .p-dropdown {
      min-width: 200px;
    }
  }
}
