.demo-container {
  overflow: scroll;
  background-color: var(--surface-ground);
  .demo-page {
    background-color: var(--surface-ground);

    input {
      margin: 5px 0;
      padding: 5px;
    }
    #email,
    #password {
      border: none;
      background-color: none;
      padding: 5px;
      border-radius: 5px;
      margin: 5px 0;
    }
    #input-with-error {
      border: 1px solid #ff0000;
    }
    #input-with-warning {
      border: 1px solid #ffcc00;
    }
    .custom-button {
      background-color: #0000aa;
      color: #0000ff;
      border: none;
      padding: 10px;
      margin: 10px;
      cursor: pointer;
    }
  }
}

.experiment-config {
  .experiment-item {
    padding: 20px;
    max-width: 300px;
  }
}

.filter-protanopia {
  filter: url('../../../../../../assets/colorblind/colorblind-filters.svg#protanopia');
}

.filter-protanomaly {
  filter: url('../../../../../../assets/colorblind/colorblind-filters.svg#protanomaly');
}

.filter-deuteranopia {
  filter: url('../../../../../../assets/colorblind/colorblind-filters.svg#deuteranopia');
}

.filter-deuteranomaly {
  filter: url('../../../../../../assets/colorblind/colorblind-filters.svg#deuteranomaly');
}

.filter-tritanopia {
  filter: url('../../../../../../assets/colorblind/colorblind-filters.svg#tritanopia');
}

.filter-tritanomaly {
  filter: url('../../../../../../assets/colorblind/colorblind-filters.svg#tritanomaly');
}

.filter-achromatopsia {
  filter: url('../../../../../../assets/colorblind/colorblind-filters.svg#achromatopsia');
}

.filter-achromatomaly {
  filter: url('../../../../../../assets/colorblind/colorblind-filters.svg#achromatomaly');
}
